.click{
    margin: 5px;
    padding: 3px;
    gap: 15px;
}

.btn{
    text-decoration: none;
}

.click-costumize{
    align-items: center; 
    justify-content: center;
    margin: 5px;
    padding: 5px;
    gap: 15px;
}