.click{
    margin: 5px;
    padding: 3px;
    gap: 15px;
    display: flex;
    justify-content: center;
}

.btn{
    text-decoration: none;
}

.click-costumize{
    align-items: stretch; 
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    gap: 15px;
}