body{
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 100vh;
  border: 1px solid #000;
  align-items: center;
  background-color: #FFFFE0;
  width: 100%;
  margin: auto;

}

.container-costumize{
  background-color: #FFD700;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 2000px;
  text-align: center;

}

.welcome {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: center;
  align-items: center;
}

 h2 {
  color: #fcb045;
  font-size: 28px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 p {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .center-costumize{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2000px;
 }