header{
  max-width: 2000px;
  min-width: 800px;
  min-height: 90px;
  max-height: 100px;
  background-color: #FFD700;
  color: #ffffff;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;    /* Centraliza verticalmente */
  text-align: center;
  flex-wrap: wrap;
  font-size: 30px;
  display: flex;
  
}

.center-lucas {
  width: 100%;
  max-width: 1246px
  margin: 0 auto;
  padding:0px 15px;
}

 .clr-lightyellow{
  background-color: #FFFFE0;
 }
  
 body{
  font-family: Arial, sans=serif;
  display: flex;
 }
.center{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10x;
 flex-direction: column;
 gap: 17px;
 width: 780px;
 height: 130px;
 margin: 0 auto;

}

